
<div class="container">
	<div class="row">
		<div class="col-lg-4 col-lg-offset-4" style="margin-top: 30%">
			<img src="lee-sin.png" style="height: 125px; display: block; margin-left: auto; margin-right: auto">
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-sm-offset-4">
			<div class="form-inline">
				<div class="input-group" style="width: 100%">
					<input type="text" class="form-control" ng-model="summonerName" ng-keypress="searchSummoner($event)"/>
					<div class="input-group-btn">
						<select name="region" class="form-control" ng-model="selRegion" ng-options="region.value for region in regionList"></select>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- <table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Wins</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="summoner in leagueData">
				<td>{{summoner.playerOrTeamName}}</td>
				<td>{{summoner.wins}}</td>
			</tr>	
		</tbody>
	</table> -->

</div>