
<div class="container">
	<div style="margin-top: 10%">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4">
				<img src="lee-sin.png" style="height: 125px; display: block; margin-left: auto; margin-right: auto">
			</div>
		</div>

		<div class="row">
			<div class="col-sm-4 col-sm-offset-4">
				<div class="form-inline">
					<div class="input-group" style="width: 100%">
						<div class="input-group-btn">
							<select name="region" class="form-control" ng-model="selRegion" ng-options="region.value for region in regionList"></select>
						</div>
						<input type="text" class="form-control" ng-model="summonerName" ng-keypress="searchSummoner($event)"/>
						<div class="input-group-btn">
							<button type="button" class="btn btn-royal"> Go</button>
						</div>
					</div>
				</div>
				<h3 class="text-center">{{errorMessage}}</h3>
			</div>
		</div>
	</div>
</div>