
<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<h3> {{currentTime | date : 'medium'}}</h3>
		</div>
	</div>

	<div class="col-lg-4 col-lg-offset-4" style="margin-top: 30%">
		<img src="lee-sin.png" style="height: 125px; display: block; margin-left: auto; margin-right: auto">
	</div>

	<div class="row">
		<div class="col-sm-2">
			<select name="region" class="form-control" ng-model="selRegion" ng-options="region.value for region in regionList"></select>
		</div>
		<div class="col-sm-4">
			<input type="text" class="form-control" ng-model="summonerName" ng-keypress="searchSummoner($event)"/>
		</div>
	</div>
	
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Wins</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="summoner in leagueData">
				<td>{{summoner.playerOrTeamName}}</td>
				<td>{{summoner.wins}}</td>
			</tr>	
		</tbody>
	</table>

</div>