<div class="container"> 
	<h4 class="text-center" ng-if="!summoner">Loading{{loadingDots}}</h4>
	<div class="panel panel-default" style="width: 70%; margin-left: auto; margin-right: auto" ng-if="summoner">
		<div class="media">
		  	<div class="media-left">
		  		<img class="media-object" style="width: 64px; height: 64px;" ng-src="http://ddragon.leagueoflegends.com/cdn/5.15.1/img/profileicon/{{summoner.profileIconId}}.png">
		  	</div>
		  	<div class="media-body">
		        <h2 class="media-heading">{{summoner.name}}</h2>
		        <p ng-if="summoner.league.RANKED_SOLO_5x5" style="font-weight: bold">
		        	{{summoner.league.RANKED_SOLO_5x5.tier}} {{summoner.league.soloqueue.division}} - {{summoner.league.RANKED_SOLO_5x5.name}}
		        </p>
		        <p ng-if="summoner.league == null" style="font-weight: bold">
		        	No rank details yet...
	        	</p>
		  	</div>
		  	<div class="media-right" ng-if="summoner.league.RANKED_SOLO_5x5">
		        <a href="#">
		          <img class="media-object" style="width: 64px; height: 64px;" ng-src="{{summoner.league.soloqueue.rankicon}}">
		        </a>
		  	</div>
		</div>
		<hr>
		<div class="list-group">
		  <div ng-repeat="match in summoner.match.games" ng-class="{'list\-group\-item': true}">
		    <h4 class="list-group-item-heading" style="color: black">
		    	{{match.gameMode}} {{match.subType}} 
		    	<span class="pull-right label label-success" ng-if="match.stats.win">Won</span>
		    	<span class="pull-right label label-danger" ng-if="!match.stats.win">Lost</span>
	    	</h4> 
		    <p class="list-group-item-text">
		    	<span class="label label-default">K:{{ (match.stats.championsKilled) ? match.stats.championsKilled : 0}}</span>
		    	<span class="label label-default">D:{{ (match.stats.numDeaths) ? match.stats.numDeaths : 0}}</span>
		    	<span class="label label-default">A:{{ (match.stats.assists) ? match.stats.assists : 0}}</span>
		    </p>
		  </div>
		</div>
	</div>
</div>