.btn-royal {
	border-color: #6b46e5;
    background-color: #886aea;
    color: white;
}

.matchLost {
	border-left-color: red;
	border-left-width: 6px;
	border-radius: 5px;
}

.matchWon {
	border-left-color: green;
	border-left-width: 6px;
	border-radius: 5px;
}