body {
	background-color: #1C243A;
}
.btn-royal {
	border-color: #6b46e5;
    background-color: #886aea;
    color: white;
}

.match-row {
	border: solid 1px #EEE;
	padding: 10px;
	height: 120px;
}

.matchLost {
	border-left-color: red;
	border-left-width: 6px;
	border-radius: 5px;
}

.matchWon {
	border-left-color: green;
	border-left-width: 6px;
	border-radius: 5px;
}